{
    "twitch": {
        "client_id": "",
        "client_secret": ""
    },
    "youtube": {
        "client_id": "",
        "client_secret": "",
        "tags": ["vod", "twitch", "stream", "game"],
        "category": 20
    },

    "channels": [
        {
            "id": 487456338,
            "login": "wookuz"
        }
    ],

    "paths": {
        "data": "./data",
        "videos": "./data/archives"
    }
}
